
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--darkPrimary);
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    height: 100vh;          
}

    h1{
        color: var(--whitePrimary);
        margin-bottom: 50px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 15px; 
    
        label {
        margin-bottom: 5px;
        color: var(--whitePrimary);
        }
    
        input {
        background-color: #222222;
        padding: 10px;
        border: none;
        border-radius: 8px;
        width: 300px;
        font-size: 16px;
      }
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
    
    a {
      color: var(--whitePrimary);
      text-decoration: none;
      font-size: smaller;
      white-space: nowrap;   
    }
  
    .btn {
      background-color: var(--input);
      margin-top: 10px;
      padding: 9px;
      width: 40%;
      background-color: #164085;
      color: var(--whitePrimary);
      border: none;
      border-radius: 15px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn:hover {
      background-color:var(--confirm)
    }

}
.btn_google {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  color: var(--whitePrimary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--input);

  svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
.btn_google:hover{
  background-color :rgb(194, 186, 186);
  color: black;
}
.signup{
  background-color: var(--input);
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  color: var(--whitePrimary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

}

.signup:hover{
background-color :rgb(194, 186, 186);
color: black;
}